<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NatureGlamour</title>
    <link rel="stylesheet" href="../Stylesheets/home.css" />
  </head>
  <body class = "main-container">
    <div class = "cover-container">
      <header class = "header">
        <div>
          <h3 class = "title header3" >NatureGlamour</h3>
          <nav class = "nav nav-bar">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">Spots</a>
          </nav>
        </div>
      </header>
    </div>
  </body>
</html>
